.App {
  text-align: center;
  margin: 1em;
}

h3 {
  margin: auto;
  margin-bottom: 1em;
  text-align: justify;
  width: 50%;
}

.warning {
  background-color: salmon;
  padding: 0.5em;
  position: absolute;
  right: 1em;
  top: 0;
  width: 150px;
}

.screen {
  border: 3px solid #aaa;
  padding: 1em;
}

.join-screen {

}

form {
  display: flex;
  flex-direction: column;
}

.join-screen form {
  padding-left: 25%;
  padding-right: 25%;
}

label {
  font-size: larger;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  text-align: left;
}

label input {
  margin-top: 0.3em;
}

input[type=text] {
  font-size: larger;
}

button {
  padding: 0.5em;
  font-size: larger;
  font-variant: small-caps;
  text-transform: uppercase;
}


/* Game board */
.board-container {
  display: inline-block;
  margin: auto;
  border: 3px solid maroon;
  padding: 0.2em;
}

.board {
  display: grid;
  /* grid-gap: 0.5em; */
}

/* Bananagrams mode */
.pool {
  padding-bottom: 0.25em;
}

.tile-tray {
  border: 2px solid #aaa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0.5em;
}

.tile-tray .tile {
  height: 4em;
  width: 4em;
  flex-shrink: 0;
  margin-right: 0.25em;
}

.countdown-clock {
  font-family: monospace;
  font-size: 30pt;
  font-weight: bold;
  display: flex;

  transition: color 0.5s linear;
}

.countdown-clock.imminent {
  color: crimson;
}

/* Battleship mode boards */
.opponent {
  display: inline-block;
  margin: 10px;
}

.opponent.my-board {
  border: 3px solid green;
}

.opponent .board {
  /* Board components are sized in ems to simplify scaling */
  font-size: x-small;
}

.my-turn .opponent .tile-wrapper.blank {
  cursor: pointer;
}

.my-turn .opponent:not(.my-board) .tile-wrapper.blank:hover {
  border: 2px solid maroon;
}

.tile .overlay, .miss .overlay {
  font-size: 2.9em;
  font-weight: bold;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hit-tile .overlay {
  color: green;
}

.miss .overlay {
  color: maroon;
}

.opponent.my-board .tile.hidden {
  opacity: 0.4;
}

@keyframes targeting-oscillate {
  from {
    color: black;
    transform: rotate(0deg);
  }

  50% {
    color: red;
  }

  to {
    color: black;
    transform: rotate(360deg);
  }
}

.fitting:not(:hover) {
  border: 1px solid blue;
}

.tile-wrapper .targeting:not(.miss) {
  font-size: xx-large;
  font-weight: bold;
  animation: targeting-oscillate infinite 3s linear;
  line-height: 100%;
  padding-top: 0.15em;
  transform-origin: 50% 45%;
}

.tile.fitting {
  box-shadow: 0 0 4px blue;
}

.tile-wrapper .fitting:not(.tile) {
  text-transform: uppercase;
  font-size: x-large;
}

.tile-wrapper .fitting.targeting {
  animation: none;
  padding-top: 0;
  font-size: x-large;
}

.board .row {
  display: flex;
  flex-direction: row;
}

.tile-wrapper {
  flex: 0;
  padding: 0.2em;
  z-index: 2;

  background-color: #dddddd;
  border: 1px solid white;
  box-shadow: 2px 2px #ccc inset;
}

.tile-wrapper.selected {
  background-color: lightblue;
}

.controls-wrapper {
  display: inline-block;
}

.launch-controls {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.launch-controls button {

}


.tile-wrapper.tetromino {
  z-index: 1;
}

.tile-wrapper.swapping-tile {
  z-index: 10;
}

.tile-wrapper.tetromino.swapping-tile {
  z-index: 9;
}

.tile-wrapper.swapping-tile .tile {
  background-color: lightsalmon !important;
}

.tile-wrapper.swapping-tile .tetromino {
  fill: lightsalmon;
}

.board.swapping .tile-wrapper:hover .tile {
  background-color: lightgoldenrodyellow;
}

.tile-wrapper.drop-target {
  background-color: #aaaaaa;
}

.tile, .tile-wrapper .miss, .tile-wrapper .targeting, .tile-wrapper .fitting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  position: relative;
}

.tile {
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #aaa;
}

.tile-wrapper .miss {
  background-color: pink;
}

.tetromino {
  filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .7));
  fill: blue;
  /* stroke: black;
    stroke-width: 0.1px; */
  transform: scaleY(-1);
  pointer-events: none;
  /* width: 100%; */
  /* height: 100%; */
  /* max-height: 100%;
    max-width: 100%; */
  overflow: hidden;
}

.tetromino.wide {
  /* width: 100%; */
}

.tetromino.tall {
  /* height: 100%; */
}

.tetromino * {
  pointer-events: painted;
}

@keyframes x-axis-spin {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

.reticule {
  animation: x-axis-spin infinite 2s linear;
  color: maroon;
  transform-origin: 0 56%;
  display: inline-block;
}


.selection {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.selection-area {
  background-color: #add8e666;
  position: absolute;
  pointer-events: none;

  z-index: 10;
}
